@media(max-width: 1024px){
  main{
    gap: 20px;
  }
  .header{
    padding: 20px;
  }
  #toggle_theme{
    width: 35px;
    height: 35px;
  }
  .theme_icon{
    width: 25px;
    height: 25px;
  }
  .logo{
    width: 110px;
    height: 30px;
  }
  #clock{
    font-size: 20px;
  }
  .column{
    width: 260px;
  }
}




@media(max-width: 960px){
  .column{
    width: 240px;
  }
  .header{
    margin-bottom: 10px;
  }
  .column__title,
  #column__counter-todo{
    font-size: 20px;
  }
  .column__task-description {
    font-size: 16px;
  }
  .column__task-title{
    font-size: 18px;
  }
  button{
    font-size: 14px;
  }
}



@media(max-width: 755px){
   main{
    gap: 10px;
  }
  .column{
    margin-bottom: 20px;
    width: 100%;
    height:100%; 

  }
  .column__title,
  #column__counter-todo{
    font-size: 18px;
  }
  .column__task-description {
    font-size: 14px;
  }
  .column__task-title{
    font-size: 16px;
  }
  button{
    font-size: 12px;
  }
}

@media(max-width: 615px){
  main{
    flex-wrap: wrap;
  }
}

@media(max-width: 550px){

  .header{
    padding: 15px;
  }
  .logo{
    width: 90px;
    height: 20px;
    margin-top: 4px;
  }
  #toggle_theme{
    width: 30px;
    height: 30px;
  }
  .theme_icon{
    width: 20px;
    height: 20px;
  }
  #clock{
    display: none;
  }

  .column__button-submit { 

    justify-self: end;
  
  }

}

@media(max-width: 400px){
  #modal__task-form{
    width: 75vh;
  }
  #modal__description{
    width: 100%;
  }
  .modal__select-user {
    width: 100%;
  }
}