:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Основные стили для тела документа */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #dddddd;
}

/* шапка */
.header {
  background-color: rgb(175, 176, 180);
  box-shadow: 0px 0px 10px 2px rgb(116, 117, 121);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 20px;
}

#clock {
  color: rgb(225, 223, 223);
  font-size: 25px;
  font-weight: 600;
}

/* Главный контейнер */
main {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
}

/* Стили для колонок */
.column {
  width: 290px;
  height: 600px;
  box-shadow: 0px 5px 10px 2px rgb(158, 160, 165);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

/* Заголовок и содержимое колонок */
.column__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* Список внутри колонки */
.column__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 500px;
  gap: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  padding: 5px;
}

/* Стили для полосы прокрутки внутри списка */
.column__list::-webkit-scrollbar {
  width: 1px;
}

/* Стили для кнопок без стилей */
button {
  background-color: transparent;
  padding: 3px;
  border: 0;
}

/* Модальное окно */
#modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000030;
  width: 100vw;
  height: 100vh;
}

/* Блок добавления задачи в модальном окне */
.modal__form {
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  gap: 10px;
}

.modal__title {
  margin-bottom: 10px;
}

.modal__button-container {
  display: flex;
  justify-content: right;
  gap: 4px;
}

/* Заголовок и описание задачи в модальном окне */
.modal__input {
  padding: 7px 10px;
}

.modal__textarea {
  width: 300px;
  height: 140px;
  padding: 10px;
}

/* Подвал модального окна с кнопками */
.modal__footer {
  display: flex;
  gap: 15px;
}

/* Выбор пользователя в модальном окне */
.modal__select-user {
  width: 165px;
  padding: 3px;
}

/* Стили для блока задачи */
.column__task {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 2px 2px 1px #dddddd;
  border-radius: 10px;
  padding: 10px;
}

/* Заголовок и описание задачи в колонке */
.column__task-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.column__task-description {
  margin-bottom: 6px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

/* Контейнер кнопок */
.column__task-control {
  display: flex;
  gap: 5px;
}


#column__button-add,
.column__button-delete-all {
  outline: auto;
  text-align: left;

}


/* new code */

.test-modal {
  height: 150px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  margin-top: 140px;


}

.test-modal__text {

  margin-bottom: 45px;
}


.modal-button {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 25px;
  border: 1px solid black; 
  background-color: darkcyan;
  color: white
}