:root{
   font-family: 'Raleway', sans-serif;
  --bg-color-body: linear-gradient( rgb(223 231 235), rgb(196 201 213), rgb(225 228 245), #3179BA);
  --bg-color-header:  #29669C;
  --box-shadow-header: 0px 0px 2px 1px rgb(164, 164, 164);
  --bg-color-toggle: #d1d1d1; 
  --bg-color-column-todo: #ffffff;
  --bg-color-modal:#dfdfe1;
  --bg-color-modal-btn:#f1f2f4;
  --color-modal-btn: #000000;
  --color-modal-title: #000000;
  --bg-color-modal-input: rgb(189 192 205);
  --border-modal: 2px solid #3179BA; 
  --fill-color-icon: #252B42; 
}



:root[theme='dark'] {
  --bg-color-body: linear-gradient( rgb(32 32 37), rgb(24 21 21), rgb(55 56 57), rgb(29 28 30));
  --bg-color-text: #ffffff;
  --bg-size-body: 100000% 100000%;
  --bg-color-header: #111112;
  --box-shadow-header: 0px 0px 10px 2px rgb(41, 41, 41);
  --bg-color-toggle: rgb(41, 41, 41);
  --bg-color-column-task: #151718;
  --fill-color-icon: #ffffff;
  --bg-color-column-todo: #000000;
  --bg-color-button: white;
  --bg-color-modal: #131516;
  --bg-color-modal-btn:#24242b;
  --color-modal-btn: #e6dbdb;
  --color-modal-title: white;
  --bg-color-modal-input: rgb(50 53 65);
  --border-modal: 2px solid #ffffff;
}


/*---------------------------------------------------------------------------*/
/* шапка */
.header{
  background-color: var(--bg-color-header);
  box-shadow: var(--box-shadow-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 20px;
  position: relative; 
}

.clock-container { 
  display: flex;
  gap: 10px; 
  align-items: center;


}
#clock {
  color: rgb(225, 223, 223);
  font-size: 25px;
  font-weight: 600;
  margin-right: 15px; 
  text-align: end;
  font-family: 'Open Sans', sans-serif;
}

/*переключение темы*/
#toggle_theme{
  width: 40px;
  height: 40px;
  background-color: var(--bg-color_toggle);
  border: 1px solid rgb(193, 192, 192);
  box-shadow: 0px 0px 3px 2px rgb(168, 168, 168);
  border-radius: 5px;
}

.theme_icon{
  fill: var(--fill-color-icon);
  height: 100%; 
  width: 100%;
}





/* Основные стили для тела документа */
body {
  background: var(--bg-color-body);
    background-size: 100000% 100000%;
    -webkit-animation: ServiceAnimation 10s ease infinite;
    -moz-animation: ServiceAnimation 10s ease infinite;
    -o-animation: ServiceAnimation 10s ease infinite;
    animation: ServiceAnimation 10s ease infinite;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@-webkit-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-moz-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-o-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
/* Главный контейнер */
main {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  font-size: 20px;
}

/* Стили для колонок */
.column {
  width: 290px;
  height: 600px;
  padding: 10px; 
  background-color: #F1F2F4; 
  border-radius: 10px;
}

/* Заголовок и содержимое колонок */
.column__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px; 
  font-weight: 600;
}

.column__title { 
  font-size: 25px;
  font-weight: 600;

}

/* Список внутри колонки */
.column__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 500px;
  gap: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  padding: 5px;
}

/* Стили для полосы прокрутки внутри списка */
.column__list::-webkit-scrollbar {
  width: 1px;
}

/* Стили для кнопок без стилей */
button {
  color: var(--bg-color-button);
  background-color: transparent;
  padding: 3px;
  border: 0;
  font-size: 16px;
}

/* Стили для блока задачи */
.column__task {
  background-color: var(--bg-color-column-task);
  border: 1px solid #dddddd;
  box-shadow: 2px 2px 1px #dddddd;
  border-radius: 10px;
  padding: 10px;
}

/* Заголовок и описание задачи в колонке */
.column__task-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600; 
}

.column__task-description {
  word-wrap: break-word;
  margin-bottom: 10px;
  font-size: 18px;
}

#modal {
  position: fixed;
  background-color: transparent;
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal:modal { 
  display: flex;
  justify-content: center;
  align-items: center;

}

#modal__task-form,
#modal__warning {
  background-color: var(--bg-color-modal);
  border: var(--border-modal);
  -webkit-box-shadow: 4px 1px 13px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 1px 13px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 1px 13px 4px rgba(34, 60, 80, 0.2);
  padding: 30px;
  border-radius: 5px;
}

.modal__input-container,
.modal__textarea-container {
  margin-bottom: 10px;  
}

#modal__input-title {
  background-color: var(--bg-color-modal-input);
  padding: 5px 8px;
  border: 1px solid #767676;
}

#modal__description {
  background-color: var(--bg-color-modal-input);
  width: 300px;
  height: 140px;
  padding: 8px;
}
.modal__title {
  color: var(--color-modal-title);
  margin-bottom: 15px;
  text-align: center;
}

#modal__button-ok { 

  border: 2px solid var(--bg-color-body); 
  border-radius: 5px; 
  width: 90px; 
  text-transform:uppercase ;


}

#modal__button-cancel , #modal__button-confirm {
  background-color: var(--bg-color-modal-btn);
  margin: 0 2px;
  border: 0;
  border-color: transparent;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-family: inherit;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
  color: var(--color-modal-btn);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transform: translate3d(0, 0, 0);
}


#modal__button-cancel:hover, #modal__button-confirm:hover {
background-color: transparent;
color: rgb(51 81 111);
box-shadow:0 5px 11px 0 rgb(80 88 131 / 73%), 0 4px 15px 0 rgba(0,0,0,.15);
transition: box-shadow .4s ease-out
}

.modal__footer {
  display: flex;
  justify-content: space-around;
}

.modal__select-user {
  background-color: var(--bg-color-modal-input);
  width: 170px;
}

.modal__control-container {
  display: flex;
  justify-content: right;
  padding: 3px 9px;
  gap: 4px;
}

.column.column-todo ,.column.column-done,.column.column-progress {
  background-color: var(--bg-color-column-todo);
  color: var(--bg-color-text);
}
.column.column-progress{
  padding-bottom: 31px;
}
.column__task-user { 
  margin-bottom: 10px; 
  font-size: 14px;
}

.column__task-control { 
  display: grid; 
  grid-template-columns: repeat(8, 1fr);
}

.column__button-submit { 
  grid-column: 8;
}

.column__task-button { 
  padding: 0;
  justify-self: start;
  align-self: center; 
}

.column__button-edit , .column__button-delete , .column__button-submit, .column__button-complete, .column__button-cancel  {
  fill: var(--fill-color-icon);
  stroke: #ffffff;
}
.column__button-complete { 
  grid-column: 8;
}



.column__button-delete:hover { 

  fill: rgba(255, 0, 0, 0.637); 
}
